.divclass
{
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: aqua;
}

#divid
{
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: yellow;
}

.clear
{
    clear: both;
}

a.clr
{
    color: black;
    text-decoration: none;
}
